
.container img {
    height: 4rem;
}
.container h1 {
    width: 100%;
    text-align: center;
}

.container .list {
    display: flex;
    flex-flow: column;
}

.song {
    padding: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}