@import './palette.css';
@import './header.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--c-bg);
    color: var(--c-text-light);
    --nav-height: 84px;
}
main {
    margin-top: var(--nav-height);
}