@import './palette.css';
@import './header.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&family=Roboto:wght@100&display=swap');
@import url('https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto.min.css');

body {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--c-bg);
    color: var(--c-text-light);
    --nav-height: 84px;
}
a {
    color: var(--c-primary);
}

button {
    padding: 16px;
    margin: 20px 0;
    background: transparent;
    border: 1px solid var(--c-primary);
    color: var(--c-primary);
    cursor: pointer;
    transition: all 0.2s;
}
button:hover {
    background: var(--c-primary);
    color: var(--c-neutral-dark);
}

main {
    box-sizing: border-box;
    margin-top: var(--nav-height);
    background-color: var(--c-bg);
    padding: 50px;
    text-align: center;
    min-height: 100vh;
}

footer {
    padding: 25px;
    text-align: center;
    background-color: var(--c-neutral-dark);
    border-top: 1px solid var(--c-neutral);
}
.container {
    margin: 50px 0;
    padding: 1px 10px;
    background: var(--c-neutral-dark);
    color: var(--c-text-light);
    border: solid 2px var(--c-neutral);
}
.container .head {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border-bottom: 2px solid var(--c-neutral);
}