header {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: hsla(var(--c-bg-hsl), 0.7);
    backdrop-filter: blur(2px);
    z-index: 100;
}
#navToggle {
    display: none;
    background: none;
    color: var(--c-text-light);
    font-size: 3rem;
    border: none;
}
.logo {
    display: block;
    height: 4em;
}
nav {
    overflow-y: auto;
}
nav > ul {
    display: flex;
    flex-flow: row;
    font-size: 1.5rem;
    padding: 0;
    margin: 0 20px;
}
nav > ul li {
    list-style: none;
}
nav > ul a {
    position: relative;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--c-text-light);
    background-color: transparent;
    transition: all cubic-bezier(0, 0, 0.15, 1.01) 0.3s;
}
nav > ul a:hover {
    background-color: #daffc827;
}
nav > ul a::after {
    content: '';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#daffc81c 20%, transparent 85%);
    transition: all cubic-bezier(0, 0, 0.15, 1.01) 0.3s;
}
nav > ul a:hover::after {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    header {
        flex-flow: column;
    }
    header .wrap {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 100%;
    }
    #navToggle {
        display: block;
    }
    nav {
        display: none;
    }
    nav.opened {
        display: block;
    }
    nav ul {
        flex-flow: column;
        align-items: center;
    }
}