main {
    margin-top: 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.welcomeMedia {
    position: relative;
    height: 100vh;
}
#bg, #bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    z-index: -1;
}
#bg {
    filter: brightness(1.2) saturate(1.5);
}
#bg_video {
    opacity: 0.5;
}

.startSection {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c-text-light);
}
.titleSection {
    width: 100%;
    max-width: 800px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.titleSection img {
    height: 200px;
    width: 200px;
}

.title {
    margin-left: 20px;
    text-align: center;
    max-width: 20rem;
}
.title h1 {
    font-size: 3rem;
}
.title p {
    font-size: 1.1rem;
}

@media only screen and (max-width: 1120px) {
    .welcomeMedia {
        height: 80vh;
    }
}

@media only screen and (max-width: 768px) {
    .welcomeMedia {
        height: 60vh;
    }
}